h1 {
    color: red;
}

.login-form {
    width: 600px;
    margin-top: 200px;
}

.left_sidebar {
    height: 90vh;
    position: sticky;
    border-radius: 4px;
}

.sidebar-item {
    color: rgb(0, 0, 0);
}

.sidebar-item:hover {
    color: rgba(0, 0, 255, 0.418);
    background-color: rgba(0, 0, 0, 0.432);
}

.table-row:hover {
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356)
    background-color: rgba(160, 160, 160, 0.432);
}

.dp-image {
    width: 300px;
    height: auto;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: rgb(233, 233, 233);
    margin-left: 20px;
}

.card-text {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.365);
}
