{% extends 'users/main.html' %}

{% block content %}
<div class="card m-2 shadow">
    <div class=" text-center p-2 bg-dark shadow mb-3"><h3 class="text-white shadow mb-1"><strong>Информация о сотруднике</strong></h3></div>
    <div class="row">
        <div class="col-md-2">
            <img class='dp-image card shadow' src="{{ object.avatar.url }}">
        </div>
        <div class="col-md-9 ms-4">
            <table class="card p-4">
                <tr class="m-3">
                    <td class="pe-4">
                        <h4 class="card-text">Фамилия:</h4>
                    </td>
                    <td>
                        <h4 class="card-text">
                            <strong>{{ object.last_name }}</strong>
                        </h4>
                    </td>
                </tr>
                <tr class="m-3">
                    <td class="pe-4">
                        <h4 class="card-text">Имя:</h4>
                    </td>
                    <td>
                        <h4 class="card-text">
                            <strong>{{ object.first_name }}</strong>
                        </h4>
                    </td>
                </tr>
                <tr class="m-3">
                    <td class="pe-4">
                        <h4 class="card-text">Отчество:</h4>
                    </td>
                    <td>
                        <h4 class="card-text">
                            <strong>{{ object.middle_name }}</strong>
                        </h4>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="row p-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock %}