{% load static %}

<!-- Navbar -->
<nav class="uk-navbar-container shadow-sm">
    <div class="uk-container-expand uk-padding-small uk-padding-remove-top uk-padding-remove-bottom">
        <div uk-navbar class="">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="https://tgt72.ru/" target="_blank">МКУ "Тюменьгортранс"</a></li>
                    <li>
                        <a href="#">Parent <span uk-navbar-parent-icon></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-header">Header</li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Item</a></li>
                </ul>

            </div>
            <div class="uk-navbar-right">
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="{% static 'img/user_avatar/pokrashenko_ag.jpg' %}" alt="Avatar">
                </div>
                <ul class="uk-navbar-nav">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="#">{{ user.first_name }} {{ user.last_name }}<span uk-navbar-parent-icon></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Профиль</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-header">Header</li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="{% url 'logout_user' %}">Выход</a></li>
                            </ul>
                        </div>
                    </li>
                    {% else %}
                    <li>
                        <a uk-icon="sign-in" href="{% url 'login_user' %}">Авторизоваться</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>